body{
    background-color: #ecf4f3;
    font-family:   'Geneva','Verdana', 'sans-serif';
    
}
hr{
    
    border-style: dashed none none;
   border-color: #006a71;
   border-width:4px;
    width: 50%;
  
}
h1{
    color: #68b0ab;
    font-family: 'roboto','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', sans-serif;
}
h3{
    color: #68b0ab;
    font-family:'Lucida Grande', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', sans-serif;
}
a{
    color:#006a71;
    text-decoration: none;

}
a:hover{
    color:grey;
}
