body{
    background-color: #d6e0f0;
    font-family:   'Geneva', Verdana, sans-serif;
}
hr{
    
    border-style: dotted none none;
   border-color: grey;
   border-width: 3px;
    width: 30%;
}
h1{
    color: #66BFBF;
    font-family: 'roboto','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
    color: #66BFBF;
    font-family:'Lucida Grande', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    color:grey;
    text-decoration: none;

}
A:hover{
    color:red;
}